

.timeline .timeline-item::after, .timeline .timeline-item::before {
  clear: both;
  content: '';
  display: block;
  width: 100%;
}

.timeline {
  margin: 30px auto;
  padding: 0 10px;
  position: relative;
  transition: all 0.25s ease-in;
  width: 100%;
}

.timeline::before {
  background: #7bd3d4;
  content: '';
  height: 100%;
  left: 50%;
  position: absolute;
  top: 0;
  width: 3px;
}

.timeline::after {
  clear: both;
  content: '';
  display: table;
  width: 100%;
}

.timeline a {
  color: black;
  font-weight: bold;
  transition: all 0.25s ease-in;
}

.timeline a:hover {
  box-shadow: 0 1px 0px 0px #fefefe;
  transition: all 0.25s ease-in;
}

.timeline .timeline-item {
  margin-bottom: 50px;
  position: relative;
}

.timeline .timeline-item .timeline-icon {
  background: transparent;
  border-radius: 25%;
  height: 80px;
  left: 49%;
  margin-left: -23px;
  overflow: hidden;
  position: absolute;
  top: -8px;
  width: 80px;
}

.timeline .timeline-item .timeline-icon img,
.timeline .timeline-item .timeline-icon svg {
  top: 5px;
  bottom: 5px;
  position: relative;
  border-radius: 25%;
  left: -4px;
}





.timeline .timeline-item .timeline-content {
  padding: 20px;
  text-align: right;
  transition: all 0.25s ease-in;
  width: 45%;
  background: transparent;
}

.timeline .timeline-item .timeline-content p {
  color: black;
}

.timeline .timeline-item .timeline-content p {
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-date {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 0;
}

.timeline .timeline-item .timeline-content .timeline-content-month {
  font-size: 0.875rem;
  text-transform: uppercase;
  font-weight: 400;
}

.timeline .timeline-item .timeline-content.right {
  float: right;
  text-align: left;
}

@media screen and (max-width: 39.9375em) {
  .timeline {
    margin: 30px;
    padding: 0;
    width: 90%;
  }
  .timeline::before {
    left: 0;
  }
  .timeline .timeline-item .timeline-content {
    float: right;
    text-align: left;
    width: 90%;
  }
  .timeline .timeline-item .timeline-content::before, .timeline .timeline-item .timeline-content.right::before {
    border-left: 0;
    border-right: 7px solid #d5f1f2;
    left: 10%;
    margin-left: -6px;
  }
  .timeline .timeline-item .timeline-icon {
    left: 0;
  }
}



.hero-full-screen {
  height: 100vh;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background: url("/../img/splash.jpg") center center repeat;
  background-size: cover;
}

.hero-full-screen .middle-content-section {
  text-align: center;
  color: #f9fdfd;
}

.hero-full-screen .middle-content-section a, img {
  padding: 5%;
  padding-top: 0%;
}

.hero-full-screen .top-content-section {
  width: 100%;
}

.hero-full-screen .bottom-content-section {
  padding: 1rem;
}

.hero-full-screen .bottom-content-section svg {
  height: 3.75rem;
  width: 3.75rem;
  fill: #fefefe;
}

.hero-full-screen .top-bar {
  background-color: #37a7a9;
  text-align: center;
  padding-bottom: 35px;
  padding-right: 100%;
  z-index: 999;
  position: fixed;
  height: 10px;
  opacity: 0.75;
}

.hero-full-screen .top-bar .menu {
  background-color: transparent;
  position: fixed;
}

.hero-full-screen .top-bar .menu-text {
  color: #f9fdfd;
}

.hero-full-screen .top-bar .menu li {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-full-screen .top-bar .menu a {
  color: #f9fdfd;
  font-family: Raleway, sans-serif;
  font-weight: thin;
  z-index: 1000;
}

.middle-content-section h1 {
  font-family: Raleway, sans-serif;
  font-size: 4rem;
  font-weight: bold;
}


h1, h2,
h3, h4,
h5, h6 {
    font-family: Raleway, sans-serif;
}

p {
  font-family: Open Sans, sans-serif;
}

.grid-x {
  padding-top: 2%;
}

.container1 {
  background-color: #eaf8f8;
  padding-left: 3%;
  padding-top: 2%;
}

.container2 {
  background-color: #d5f1f2;
  padding-left: 3%;
}

.container3 {
  background-color: #c1eaeb;
  padding-left: 3%;
}

.container4 {
  background-color: #c1eaeb;
  padding-left: 3%;
}

body {
  background-color: #c1eaeb;
}


.kevpic {
  border-radius: 65%;
}

.container4 th {
  border-radius: 15px 15px 0px 0px;
}

table tbody {
  border: none;
}

tr:nth-child(odd) {
  background-color: #ace3e4; !important
}

table tbody tr:nth-child(even) {
  background-color: #7bd3d4; !important
}