/* General page styles */
body,
.list-group-item {
    background-color: #f5f5f5 !important;
}

.container {
    padding-top: 10px;
    padding-bottom: 2%;
}

#bio-col {
    padding-top: 5px;
}

.bio-paragraph {
    width: 100%;
}

#modules-row {
    padding-top: 10px;
    border-top: 1px solid black;
}

#work-exp-toprow,
#education-toprow {
    padding-top: 10px;
    padding-bottom: 10px;
}

#educationLogo > img {
    width: 150px;
}

.work-overview-thumbnail:hover {
    opacity: 0.1;
}

/* Pic-col styles */
#profile-pic {
    width: 10vw;
    background-color: #33b5e5;
}

#pic-col > h4 {
    padding-top: 0.5rem;
    margin-bottom: 0;
}

.col-centered {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#workLogo > img {
    width: 150px;
    height: auto;
}

/* Module Selector styles */
#selector-btn-group,
.work-exp-sub-btn {
    width: 100%;
}

/* In-Module styles */
#work-exp-botrow {
    padding-left: 15px;
}
