
body{
   
  background-color: AliceBlue;
}

h1 {
  text-align: center;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}

a {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 0px;

  text-decoration: none;

  font-family: Verdana;
  font-size: 14px;
}

a:hover {
  font-weight: bold;
  font-size: 13px;
}

img {
  margin-top: 20px;
  border: 2px dotted black;
}

hr {
  background: steelblue;
  height: 10px;
}

.footer {
  margin-top: 95%;
  margin-left: 10%;
}

.selfDescription {
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  height: 80%;
  width: 100%;
  padding: 15px;
}
