
body{
   
  background-color: AliceBlue;
}

h1 {
  text-align: center;
  font-family: Verdana;
}

h2 {
  font-family: Verdana;
}

p {
  font-family: Verdana;
}

ul {
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline;
}

.nav a {
  margin-left: 40px;
  margin-right: 40px;
  margin-top: 0px;
  margin-bottom: 0px;

  text-decoration: none;

  font-family: Verdana;
  font-size: 14px;
}

.nav a:hover {
  font-weight: bold;
  font-size: 13px;
}

.kevpic {
  margin-top: 20px;
  border: 10px solid black;
}

.link {
  text-align: center;
}

.link a {
  font-size: 20px;
  text-decoration: none;
  font-family: Verdana;
}

.link li {
  display: block;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr {
  background: steelblue;
  height: 10px;
}

.footer {
  margin-left: 0;
}

.selfDescription {
  margin-left: 10%;
  margin-right: 10%;
}

.container {
  height: 80%;
  width: 100%;
  padding: 15px;
}

.contactInfo a {
  text-decoration: none;
}

.secHeader h2 {
  text-align: center;
  font-family: Verdana;
  text-decoration: underline;
}

.aboutInfo h3 {
  font-family: Verdana;
}